html {
  height: 100%;
  width: 100%;
}

#main {
  font-family: "Georgia";
}

#footer {
  font-size: 9pt;
  text-align: center;
  font-style: italic;
}

h1 {
  font-family: "Brush Script MT";
  color: plum;
  padding: 25px 10px 15px 30px;
}
